// ============================================================================
//  Buttons
// ============================================================================

    .btn,
    button,
    input[type=submit] {
        @extend %ib;
        background-color: palette(blue);
        color: palette(white) !important;
        border: 0 !important;
        @include rem(border-radius, $border-radius * 4);
        @include rem(padding, $quarter-space / 1.25, $threequarter-space);
        transition: background-color $base-duration ease;

        &:hover {
            background-color: palette(pink);
            color: palette(white);
            transition: background-color $base-duration ease;
        }

        &:focus {
            background-color: palette(blue);
            color: palette(white);
        }

        &:active {
            background-color: palette(blue);
            color: palette(white);
        }
    }

    .btn--rev {
        background-color: palette(white) !important;
        color: palette(pink) !important;

        &:hover {
            background-color: palette(white);
            color: palette(pink);
        }

        &:focus {
            background-color: palette(white);
            color: palette(pink);
        }

        &:active {
            background-color: palette(white);
            color: palette(pink);
        }
    }


//  Next/prev buttons
// ----------------------------------------------------------------------------

    .btn--next,
    .btn--prev {
        position: fixed;
        top: 50%;
        @include rem(height, $mid-space);
        @include rem(line-height, $mid-space);
        background: palette(grey, mid-light);
        color: palette(grey, dark) !important;
        @include rem(border-radius, $border-radius * 2);
        padding-top: 0;
        padding-bottom: 0;
        @include rem(margin-top, -$mid-space/2);

        &:hover {
            background: palette(grey, light);
        }
    }

    .prevnext__text {
        display: none;

        @include breakpoint($mid2) {
            display: inline;
        }
    }

    .btn--next {
        @include rem(right, -$mid-space);
        @include rem(padding-right, $double-space);
    }

    .btn--prev {
        @include rem(left, -$mid-space);
        @include rem(padding-left, $double-space);
    }