// ============================================================================
//  Forms
// ============================================================================

    input[type=text],
    input[type=email] {
        @include freight-sans;
        border: 1px solid palette(grey, light);
        @include rem(padding, $quarter-space/1.5, $quarter-space);
        color: palette(grey);
        @include rem(border-radius, $border-radius);

        &:focus {
            color: palette(grey, dark);
            outline: none;
            border: 1px solid palette(blue);
        }
    }