// ============================================================================
//  Forms
// ============================================================================

    .contact-form {
        margin: 0;
        padding: 0;
        @include rem(margin, -165px, 0, 0, 0);
    }

        fieldset {
            background: palette(grey, mid-light);
            border: 0;
            margin: 0;
            @include rem(padding, $mid-space);
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
            border-radius: $border-radius;
        }

            .form {
                text-align: left;
                margin: 0;
            }

                .form__item {
                    position: relative;
                    list-style: none;
                    @include rem(margin, 0, 0, $base-space, 0);
                }

                .controls {
                    overflow: hidden;
                }


//  Form elements
// -----------------------------------------------------------------------------

    label {
        float: left;
        @include rem(width, 240px);
        @include rem(padding, $quarter-space, 0);

        &:hover {
            cursor: pointer;
        }

        @include breakpoint($small) {
            width: 100%;
        }

        .form__item--is-invalid & {
            color: palette(pink) !important;
        }
    }
    
    .required {
        color: palette(pink);
        @include rem(font-size, $micro-size);
    }
    

    input[type=text],
    input[type=email],
    textarea {
        position: relative;
        @include freight-sans;
        border: 1px solid transparent;
        // border: 0;
        @include rem(font-size, $mini-size);
        @include rem(padding, $quarter-space/1.5, $quarter-space);
        color: palette(grey);
        @include rem(border-radius, $border-radius / 2);
        z-index: 2;
        margin-bottom: 1px;

        &:focus {
            color: palette(grey, dark);
            outline: none;
            border-color: palette(blue, light);
        }

        .contact-form & {
            @include rem(padding, $quarter-space * 1.5, $quarter-space);
            width: 100%;
        }

        .form__item--is-invalid & {
            border-color: palette(pink);
            background-color: palette(pink, light);
        }
    }

    textarea {
        height: 8em;
    }

    .contact-form .btn {
        @include rem(margin-top, $quarter-space);
    }

    .special-field {
        visibility: hidden;
        display: none !important;
    }


//  Validation
// -----------------------------------------------------------------------------

    .validation-error {
        display: block;
        // background-color: palette(pink);
        // color: palette(white);
        text-align: right;
        color: palette(pink);
        @include rem(padding, $quarter-space, 0);
        transform: translateZ(-100%);
        @include rem(margin-bottom, -$mid-space);
        z-index: 0;
        transition: all .2s ease-in-out;

        .form__item--is-invalid & {
            tranform: translateZ(0);
            margin-bottom: 0;
        }
    }

    .form-message {
        background-color: palette(blue, x-light);
        color: palette(blue);
        border: 1px solid palette(blue, light);
        @include rem(padding, $half-space);
        @include rem(margin-bottom, $base-space);
    }