// ============================================================================
//  Headings
// ============================================================================

//  Borrowed from inuit.css, as per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
//  
//  When we define a heading we also define a corresponding class to go with it.
//  This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
//  heading hierarchy.

    h1, h2, h3, h4, h5, h6 {
        color: palette(pink);
        @include pimlico;
    }

    h1 {
        @include rem(font-size, $h1-size);
        @include rem(margin-bottom, $quarter-space);
        line-height: $base-line-height * 0.8;
    }

    h2 {
        @include rem(font-size, $h2-size);
        // @include rem(margin-bottom, $half-space);
        // margin: 0;
        @include rem(margin, $mid-space, 0, $quarter-space, 0);
    }

    h3 {
        @include rem(font-size, $h3-size);
        @include rem(margin, $threequarter-space, 0, 0, 0);

    }

    h4 {
        @include rem(font-size, $h4-size);
        @include rem(margin, $threequarter-space, 0, 0, 0);

    }

    h5 {
        @include rem(font-size, $h5-size);
        margin: 0;

    }

    h6 {
        @include rem(font-size, $h6-size);
        margin: 0;

    }

    .section-heading {
        @include pimlico-bold;
    }

    .lede {
        @include rem(font-size, $h2-size);
        line-height: $base-line-height;
        margin: 0;
        text-align: left;
    }

    .lede-hr {
        // float: left;
        border-width: 5px 0 0 0;
        border-color: white;
        width: 6.5em;
        margin: 0;
        @include rem(margin-bottom, $half-space);
        // clear: both;
    }

    @include breakpoint($small) {
        h1 {
            @include rem(font-size, $h2-size);
            line-height: $base-line-height * 0.85;
            @include rem(margin, $double-space, 0, $quarter-space, 0);
        }

        h2, h3, h4, h5, h6 {
            @include rem(font-size, $h3-size);
            line-height: $base-line-height * 0.85;
            @include rem(margin, $base-space, 0, $quarter-space, 0);
        }

        h3, h4, h5, h6 {
            margin-bottom: 0;
        }
    }

    // Check how the above affects headers on the home page!