// ============================================================================
//  Links
// ============================================================================

    a {
        color: palette(blue);
        text-decoration: none;
    }

    a:visited {
        color: palette(blue);
    }

    a:hover {
        color: palette(blue, dark);
    }

    a:focus {
        color: palette(blue, dark);
    }

    a:active {
      color: palette(blue, light);  
    }