// ============================================================================
//  Lists
// ============================================================================

    ul, ol {
        @include rem(margin, $threequarter-space, 0, $threequarter-space, $threequarter-space);
    }

    li {
        // @include rem(margin-bottom, $quarter-space/4);
    }

//  Remove vertical spacing from nested lists

    li {
        > ul,
        > ol {
            margin-bottom: 0;
        }
    }


//  Definition lists

    dl {
        @include rem(margin, $threequarter-space, 0, $threequarter-space, 0);
    }

    dt, dd {
        display: inline;
        margin: 0;
    }

    dt {
        @include rem(margin-right, $base-space);
        font-weight: 700;
    }

    dd {
        // @include rem(margin-bottom, $quarter-space);
    }

    dd:after {
        content: '\A';
        white-space: pre;
    }