// ============================================================================
//  Paragraphs
// ============================================================================

    p {
        @include rem(margin-bottom, $half-space);
    }

    small {
        @include rem(font-size, $micro-size);
        color: $color-subtext;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: 700;
    }

    q {
        font-style: italic;
    }

    blockquote {
        @include freight-sans-italic;
        border-style: solid;
        border-color: $color-divider;
        @include rem(border-width, 0, 0, 0, $quarter-space / 1.5);
        @include rem(margin, $threequarter-space, 0);
        @include rem(padding-left, $threequarter-space);
    }

    hr {
        width: 60%;
        border-style: solid;
        border-color: $color-divider;
        border-width: 1px 0 0 0;
        @include rem(margin, $double-space, auto);
    }