// ============================================================================
//  Tables
// ============================================================================

    table {
        width: 100%;
        border-color: palette(grey, light);
        border-style: solid;
        border-width: 1px;
        background: $color-base-body;
        @include rem(margin, $base-space, 0);
    }

    tr {

    }

    th, td {
        text-align: left;
        @include rem(padding, $quarter-space, $half-space);
    }

    th {
        background-color: rgba(palette(blue), 0.3);
        background-color: palette(grey, mid-light);
        border-bottom: 1px solid palette(grey, light);
        font-weight: 400;
    }

    tr:nth-child(even) {
        background: rgba(palette(blue), 0.04);
    }