// =============================================================================
//  Clearfix
// =============================================================================

//  Our clearfix placeholder class, for extending.

    %cf {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }