// =============================================================================
//  Two-up
// =============================================================================

    .col {
        float: left;
        @include rem(padding, 0, $half-space);
    }
    

    .two-up {
        text-align: left;

        .col {
            width: 50%;
        }
    }

    .three-up {
        text-align: left;

        .col {
            width: 33.3333%;
        }
    }