// =============================================================================
//  About
// =============================================================================

    .person {
        @include rem(margin-top, $half-space);
        text-align: left;

        @include breakpoint($small) {
            @include rem(margin-top, $base-space);

            &:last-child {
                @include rem(margin-top, $double-space);
            }
        }
    }

        .person__img {
            @include rem(margin, 0, $mid-space);

            @include breakpoint($large) {
                @include rem(margin, 0, $super-space);
            }

            img {
                border-radius: 50%;
                // clip-path: circle(50%, 50%, 50%);
            }
        }

        .person__name {
            @include pimlico;
            @include rem(margin-top, $base-space);
            text-align: center;

            @include breakpoint($small) {
                @include rem(margin-top, $threequarter-space);
            }
        }


    .and {
        position: absolute;
        display: block;
        left: 50%;
        width: 4em;
        margin-left: -2em;
        text-align: center;
        @include rem(font-size, $base-font-size*7);
        @include rem(margin-top, $base-space);
        @include pimlico-bold;
        color: rgba($color-base-body, 0.25);
        color: #4EB5C5\9;
        *display: none;

        @include breakpoint($small) {
            display: none;
        }

        @include breakpoint($large) {
            @include rem(font-size, $base-font-size*10);
            margin-top: 0;
        }
    }