// ============================================================================
//  Blog
// ============================================================================

    .stripe--blog {
        position: relative;
        background-color: palette(grey, x-light);
        border-top: 1px solid palette(grey, light);
        text-align: left;
        padding: 0;
    }

    .archive-heading {
        // @include pimlico;
        @include freight-sans;
        color: palette(grey);
        @include rem(font-size, $mini-size);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        @include rem(margin, $mid-space, 0, $base-space, 0);
        @include rem(padding, $half-space, 0);
        // border-bottom: 1px solid palette(grey, light);
        // @include rem(text-indent, $half-space);
        text-align: center;

        strong {
            color: palette(grey, dark);
            font-weight: 400;
        }

        @include breakpoint($medium) {
            @include rem(margin-top, -$half-space);
        }
    }

    .article {
        @include rem(padding, $base-space, 0);
    }

        .article__title {
            @include pimlico;
            // text-align: center;
        }

            .article__permalink {

            }

        .article__meta {
            display: block;
            @include freight-sans;
            @include rem(font-size, $mini-size);
            color: palette(grey);
            @include rem(margin, 0, 0, $base-space, 0);
            // text-align: center;
            // border-color: palette(grey, light);
            // border-style: solid;
            // border-width: 1px 0;
            // @include rem(padding, $quarter-space, 0);
        }

            .article__category {
                text-transform: lowercase;
            }

        .article__content {
            text-align: left;
        }

        .article__comment-request {
            clear: both;
            @include rem(padding-top, $half-space);
            @include rem(margin-top, $mid-space);
            @include rem(margin-bottom, $super-space);
            border-top: 2px solid palette(grey, light);
        }