// ============================================================================
//  Header
// ============================================================================

    .header {
        position: relative;
        @include rem(height, 90px);
        @extend %cf;
        background-color: $color-body;
    }

        .site-name {
            float: left;
            @include pimlico-bold;
            color: $pink;
            @include rem(font-size, $h2-size);
            @include rem(margin-top, $threequarter-space);

            @include breakpoint($small) {
                @include rem(margin-top, $half-space);
                @include rem(margin-bottom, $half-space);
            }
        }