// ============================================================================
//  Intro
// ============================================================================

    .intro {
        text-align: center;

        @include breakpoint($large) {
            text-align: left;
            @include rem(margin-top, $super-space*1.25);
        }
    }

        .intro__heading {
            @include pimlico;
            font-weight: normal;
            @include rem(font-size, $uber-size);
            line-height: $ratio * 0.7;
            @include rem(margin-bottom, $base-space);

            @include breakpoint($large) {
                @include rem(margin-bottom, $mid-space);
            }
        }

        .intro__btn {
            @include rem(margin, $half-space, $quarter-space, 0, 0);
            *padding-top: 0;
            *padding-bottom: 0;
            *line-height: 2.427;

            @include breakpoint($small) {
                display: block;
                text-align: center;
                @include rem(margin-bottom, $half-space);
                margin-right: 0;
            }
        }

        .ctatext {
        //  This is for IE7
            *line-height: 2.427;
        }

    .main-illustration {
        @include rem(margin-bottom, $mid-space);

        @include breakpoint($large) {
            margin-bottom: 0;
            @include rem(margin-top, $double-space);
        }

        img {
            @include rem(max-width, 475px);
            width: 100%;
        }
    }