// =============================================================================
//  Projects
// =============================================================================

    .projects__intro {
        @include rem(margin-bottom, $base-space);
    }

    .nav--projects {
        clear: both;
        @extend %cf;
    }

        .project {
            @include rem(margin-bottom, $base-space);
        }

            .project__link {
                display: block;
                border: 1px solid transparent;
                @include rem(margin, -$quarter-space);
                @include rem(padding, $quarter-space);
                @include rem(border-radius, $border-radius);
                transition: all $base-duration ease;

                &:hover {
                    background-color: rgba(#efeee4, 0.4);
                    border-color: palette(grey, light);
                    border-color: palette(grey, mid-light);
                    transition: all $base-duration ease;
                }

                @include breakpoint($small) {
                    text-align: center;
                }
            }

            .project__link--is-selected {
                background-color: rgba(#efeee4, 0.4);
                border-color: palette(grey, light);
                border-color: palette(grey, mid-light);
                transition: all $base-duration ease;
            }

                .project__img {
                    
                }

                .project__title {
                    text-align: left;
                    @include pimlico;
                    @include rem(margin, $quarter-space, 0, 0, $quarter-space);
                }

                .project__tagline {
                    text-align: left;
                    color: palette(grey);
                    @include freight-sans;
                    @include rem(font-size, $mini-size);
                    @include rem(margin-bottom, $quarter-space);
                    @include rem(margin-left, $quarter-space);
                    margin-top: 0;

                    @include breakpoint($small) {
                        font-size: 1rem;
                    }
                }


//  Case studies
// ----------------------------------------------------------------------------
    
    .case-study {
        background-color: palette(grey, x-light);
        border-color: palette(grey, light);
        border-style: solid;
        border-width: 1px 0;
        @include rem(padding, $super-space, 0);

        .wrapper {
            position: relative;
        }
    }

        .case-study__screenshot {
            float: left;
            clear: both;

            img {
                display: block;
            }
        }

        .case-study__title {
            @include rem(margin-bottom, 0);
        }

        .case-study__url {
            display: block;
            @include rem(margin-bottom, $base-space);
            @include rem(font-size, $base-font-size);
        }

        .case-study__divider {
            @include rem(width, $super-space);
            background-color: palette(grey, light);
            height: 2px;
            @include rem(margin, 0, auto, $base-space, auto);
            border: 0;
        }

        .case-study__description {
            @include rem(margin-bottom, $mid-space);
            *float: left;
            *clear: both;
        }