// ============================================================================
//  Sidebar
// ============================================================================

    .sidebar {
        clear: both;
        width: 100%;
        border-color: $color-divider;
        border-style: solid;
        border-width: 1px 0 0 0;
        @include rem(margin-bottom, $double-space);
        @extend %cf;
        @include rem(padding, 0, $base-space, $quarter-space, $base-space);

        .upper-sidebar & {
            display: none;
        }

        @include breakpoint($medium) {
            padding-left: 0;
            padding-right: 0;

            .upper-sidebar & {
                display: block;
                border-width: 0 0 1px 0;
            }

            .lower-sidebar & {
                display: none;
            }
        }
    }

        .sidebar__heading {
            @include ptsans;
            @include rem(font-size, $base-font-size);
            color: $color-subtext;
            @include rem(margin, 0, $half-space, 0, 0);
            line-height: $base-line-height;
        }

        .sidebar__widgets {
            width: 100%;
            margin: 0;
            padding: 0;
            @include rem(margin-bottom, $base-space);
        }

            .widget {
                float: left;
                width: 100%;
                @include rem(padding, $half-space, 0);
                
                @include breakpoint($medium) {
                    width: 33.3333%;
                    @include rem(padding-left, $base-space);
                    @include rem(padding-right, $base-space);
                }

                ul {
                    @include rem(margin, $quarter-space, 0, 0, 0);
                    list-style: none;
                    @include rem(font-size, $mini-size);
                }

                li {
                    margin-bottom: 0;
                }

                select {
                    width: 100%;
                }
            }


//  Search widget
// ----------------------------------------------------------------------------

    .widget_search {
        label {
            visibility: hidden;
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        #s { // Wordpress search input
            width: 100%;
            @include rem(font-size, $mini-size);
            border: 0;
        }

        input[type=submit] {
            display: none;
        }
    }