// =============================================================================
//  Stripes
// =============================================================================


    .stripe {
        clear: left;
        text-align: center;
        @include rem(padding, $double-space, 0);
        @extend %cf;

        @include breakpoint($large) {
            @include rem(padding, $super-space, 0);
        }
    }

        .stripe__content {
            
        }

    .stripe--pink {
        background-color: palette(pink);
    }

    .stripe--blue {
        background-color: palette(blue);
    }

    .stripe--patterned {
        color: palette(white) !important;
    
        h1, h2, h3, h4, h5, h6, small {
            color: palette(white);
        }

        a, a:visited, a:hover, a:focus, a:active {
            color: palette(white);
            border-bottom: 1px solid palette(white);
        }
    }