// =============================================================================
//  Stripes
// =============================================================================


    .stripe {
        clear: left;
        text-align: center;
        @include rem(padding, $double-space, 0);
        @extend %cf;

        @include breakpoint($large) {
            @include rem(padding, $super-space, 0);
        }
    }

        .stripe__content {
            
        }

    .stripe--pink {
        background-color: $pink;
    }

    .stripe--blue {
        background-color: $blue;
    }

    .stripe--patterned {
        color: #fff !important;
    
        h1, h2, h3, h4, h5, h6, small {
            color: #fff;
        }

        a, a:visited, a:hover, a:focus, a:active {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    }