// ============================================================================
//  Colours
// ============================================================================

//  Palette
// ----------------------------------------------------------------------------
    
    $pink                               : #cb1f41;
    $blue                               : #1da4b9;


//  Typography
// ----------------------------------------------------------------------------

    $color-text                         : #666;
    $color-subtext                      : #bbb;
    $color-heading                      : $pink;
    $color-subheading                   : #999;

    $color-selection                    : darken($pink, 20);
    $color-selection-bg                 : lighten($pink, 51);


//  Structure
// ----------------------------------------------------------------------------

    $color-body                         : #fff;
    $color-divider                      : #ddd;
    $color-case-study-bg                : #f5f5f5;


//  Links
// ----------------------------------------------------------------------------

    $color-link                         : $blue;
    $color-link-visited                 : $blue;
    $color-link-hover                   : darken($blue, 10);
    $color-link-focus                   : darken($blue, 10);
    $color-link-active                  : lighten($blue, 10);


//  Buttons
// ----------------------------------------------------------------------------

    $color-btn                         : #fff;
    $color-btn-bg                      : $blue;
    $color-btn-hover                   : #fff;
    $color-btn-hover-bg                : $pink;
    $color-btn-focus                   : #fff;
    $color-btn-focus-bg                : $blue;
    $color-btn-active                  : #fff;
    $color-btn-active-bg               : $blue;

    $color-btn-rev                     : $pink;
    $color-btn-rev-bg                  : #fff;
    $color-btn-rev-hover               : $pink;
    $color-btn-rev-hover-bg            : #fff;
    $color-btn-rev-focus               : $pink;
    $color-btn-rev-focus-bg            : #fff;
    $color-btn-rev-active              : $pink;
    $color-btn-rev-active-bg           : #fff;


//  Prev / Next buttons
// ----------------------------------------------------------------------------
