// ============================================================================
//  Fonts
// ============================================================================

//  Here is where we define the fonts used in our project.

//  Font stacks
// ----------------------------------------------------------------------------

    $pimlico                    : "FS Pimlico Web Regular", 'Trebuchet MS', sans-serif;
    $pimlico-bold               : "FS Pimlico Web Bold", 'Trebuchet MS', sans-serif;
    // $pimlico-black              : "FS Pimlico Web Black", 'Trebuchet MS', sans-serif;
    // $ptsans                     : "PT Sans Regular", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    // $ptsans-italic              : "PT Sans Italic", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    // $ptsans-bold                : "PT Sans Bold", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    // $fira                       : "fira-mono", Consolas, Monaco, 'Andale Mono', monospace;
    $freight-sans               : "freight-sans-pro", sans-serif;


//  Mixins
// ----------------------------------------------------------------------------

    @mixin pimlico {
        font-family: "FS Pimlico Web Regular", 'Trebuchet MS', sans-serif;
        font-weight: normal;
        font-style: normal;
    }

    @mixin pimlico-bold {
        font-family: "FS Pimlico Web Bold", 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-style: normal;
    }

    // @mixin pimlico-black {
    //     font-family: "FS Pimlico Web Black", 'Trebuchet MS', sans-serif;
    //     font-weight: 800;
    //     font-style: normal;
    // }

    // @mixin ptsans {
    //     font-family: "PT Sans Regular", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    //     font-size-adjust: 0.5;
    //     font-weight: normal;
    //     font-style: normal;
    // }
    
    // @mixin ptsans-italic {
    //     font-family: "PT Sans Italic", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    //     font-size-adjust: 0.5;
    //     font-weight: normal;
    //     font-style: italic;
    // }

    // @mixin ptsans-bold {
    //     font-family: "PT Sans Bold", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    //     font-size-adjust: 0.5;
    //     font-weight: bold;
    //     font-style: normal;
    // }

    // @mixin fira {
    //     font-family: "fira-mono", Consolas, Monaco, 'Andale Mono', monospace;
    //     font-style: normal;
    //     font-weight: 400;
    // }

    @mixin freight-sans {
        font-family: "freight-sans-pro",sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    @mixin freight-sans-italic {
        font-family: "freight-sans-pro",sans-serif;
        font-style: italic;
        font-weight: 400;
    }

    @mixin freight-sans-bold {
        font-family: "freight-sans-pro",sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    @mixin freight-sans-bold-italic {
        font-family: "freight-sans-pro",sans-serif;
        font-style: italic;
        font-weight: 700;
    }