.nav:after,
.wrapper:after,
.stripe:after,
.header:after,
.nav--projects:after {
  content: "";
  display: table;
  clear: both;
}

.btn,
button,
input[type=submit],
.nav>.nav__item,
.nav>.nav__item>.nav__link,
.case-study__prev,
.case-study__next {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

html {
  font-family: "PT Sans Regular","Arial Unicode","Lucida Sans Unicode",Arial,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.618;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: #fdf1f4;
  color: #731125;
}

::selection {
  background: #fdf1f4;
  color: #731125;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
  margin-top: 0;
  margin-bottom: 29.124px;
  margin-bottom: 1.618rem;
}

.landmark {
  margin-bottom: 58.248px;
  margin-bottom: 3.236rem;
}

hr {
  margin-bottom: -0.382px;
  margin-bottom: -0.02122rem;
}

ul,
ol,
dd {
  padding: 0;
  margin-left: 58.248px;
  margin-left: 3.236rem;
}

[tabindex="-1"] {
  outline: none;
}

html {
  font-size: 100%;
}

@media (max-width: 24em) {
  html {
    font-size: 87.5%;
  }
}

@media (min-width: 80em) {
  html {
    font-size: 112.5%;
  }
}

@media (min-width: 91em) {
  html {
    font-size: 112.5%;
  }
}

body {
  font-size: 18px;
  font-size: 1rem;
  color: #666;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cb1f41;
  font-family: "FS Pimlico Web Bold", 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 36.405px;
  font-size: 2.0225rem;
  margin-bottom: 7.281px;
  margin-bottom: 0.4045rem;
}

h2 {
  font-size: 29.124px;
  font-size: 1.618rem;
  margin-bottom: 14.562px;
  margin-bottom: 0.809rem;
}

h3 {
  font-size: 21.843px;
  font-size: 1.2135rem;
}

h4 {
  font-size: 18px;
  font-size: 1rem;
}

h5 {
  font-size: 18px;
  font-size: 1rem;
}

h6 {
  font-size: 18px;
  font-size: 1rem;
}

p {
  margin-bottom: 14.562px;
  margin-bottom: 0.809rem;
}

small {
  font-size: 13.08805px;
  font-size: 0.72711rem;
  color: #bbb;
}

a {
  color: #1da4b9;
  text-decoration: none;
}

a:visited {
  color: #1da4b9;
}

a:hover {
  color: #167d8d;
}

a:focus {
  color: #167d8d;
}

a:active {
  color: #2bc6de;
}

li>ul,
li>ol {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  translateZ: 0;
}

.no-js [data-echo] {
  display: none;
}

.btn,
button,
input[type=submit] {
  background: #1da4b9;
  color: #fff !important;
  border: 0 !important;
  border-radius: 19.416px;
  border-radius: 1.07867rem;
  padding: 5.8248px 21.843px;
  padding: 0.3236rem 1.2135rem;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.btn:hover,
button:hover,
input[type=submit]:hover {
  background: #cb1f41;
  color: #fff;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.btn:focus,
button:focus,
input[type=submit]:focus {
  background: #1da4b9;
  color: #fff;
}

.btn:active,
button:active,
input[type=submit]:active {
  background: #1da4b9;
  color: #fff;
}

.btn--rev {
  background: #fff !important;
  color: #cb1f41 !important;
}

.btn--rev:hover {
  background: #fff;
  color: #cb1f41;
}

.btn--rev:focus {
  background: #fff;
  color: #cb1f41;
}

.btn--rev:active {
  background: #fff;
  color: #cb1f41;
}

.nav {
  list-style: none;
  margin-left: 0;
}

.nav--stacked>.nav__item {
  display: list-item;
}

.nav--stacked>.nav__item>.nav__link {
  display: block;
}

.wrapper {
  clear: both;
  position: relative;
  margin: 0 43.686px;
  margin: 0 2.427rem;
  max-width: 1250px;
  max-width: 69.44444rem;
}

@media (max-width: 24em) {
  .wrapper {
    margin: 0 29.124px;
    margin: 0 1.618rem;
  }
}

@media (min-width: 35.5em) {
  .wrapper {
    margin: 0 58.248px;
    margin: 0 3.236rem;
  }
}

.no-mq .wrapper {
  margin: 0 58.248px;
  margin: 0 3.236rem;
}

@media (min-width: 64em) {
  .wrapper {
    *margin: 0 7.5%;
    *width: 85%;
  }
}

.no-mq .wrapper {
  *margin: 0 7.5%;
  *width: 85%;
}

@media (min-width: 80em) {
  .wrapper {
    margin: 0 10.5537%;
  }
}

@media (min-width: 91em) {
  .wrapper {
    margin: 0 17.0763%;
  }
}

.stripe__content {
  float: left;
  width: 100%;
}

@media (min-width: 64em) {
  .stripe__content {
    width: 65.73873%;
    margin-left: 17.0895%;
  }
}

.no-mq .stripe__content {
  width: 65.73873%;
  margin-left: 17.0895%;
}

.main-illustration {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  clear: none;
}

@media (min-width: 64em) {
  .main-illustration {
    display: block;
    float: left;
    margin-left: 54.35181%;
    margin-right: -100%;
    width: 45.56591%;
  }
}

.no-mq .main-illustration {
  display: block;
  float: left;
  margin-left: 54.35181%;
  margin-right: -100%;
  width: 45.56591%;
}

.intro {
  clear: left;
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
}

@media (min-width: 64em) {
  .intro {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 45.56591%;
    clear: none;
  }
}

.no-mq .intro {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 45.56591%;
  clear: none;
}

.case-study__screenshot {
  width: 100%;
}

.project {
  float: left;
  width: 45.56591%;
}

@media (min-width: 64em) {
  .project {
    width: 31.52002%;
  }
}

.no-mq .project {
  width: 31.52002%;
}

.project-1 {
  margin-left: 0;
}

@media (min-width: 64em) {
  .project-1 {
    margin-left: 0;
  }
}

.no-mq .project-1 {
  margin-left: 0;
}

.project-2 {
  margin-left: 8.7859%;
}

@media (min-width: 64em) {
  .project-2 {
    margin-left: 2.68359%;
  }
}

.no-mq .project-2 {
  margin-left: 2.68359%;
}

.project-3 {
  margin-left: 0;
  clear: left;
}

@media (min-width: 64em) {
  .project-3 {
    margin-left: 2.68359%;
    clear: none;
  }
}

.no-mq .project-3 {
  margin-left: 2.68359%;
  clear: none;
}

.project-4 {
  margin-left: 8.7859%;
}

@media (min-width: 64em) {
  .project-4 {
    margin-left: 0;
    clear: left;
  }
}

.no-mq .project-4 {
  margin-left: 0;
  clear: left;
}

.project-5 {
  margin-left: 0;
  clear: left;
}

@media (min-width: 64em) {
  .project-5 {
    clear: none;
    margin-left: 2.68359%;
  }
}

.no-mq .project-5 {
  clear: none;
  margin-left: 2.68359%;
}

.project-6 {
  margin-left: 8.7859%;
}

@media (min-width: 64em) {
  .project-6 {
    margin-left: 2.68359%;
  }
}

.no-mq .project-6 {
  margin-left: 2.68359%;
}

@media (max-width: 24em) {
  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}

.person--sam {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 45.56591%;
}

.person--james {
  display: block;
  float: left;
  margin-left: 54.35181%;
  margin-right: -100%;
  width: 45.56591%;
}

@media (max-width: 24em) {
  .person--james,
  .person--sam {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
  }
}

.stripe {
  clear: left;
  text-align: center;
  padding: 58.248px 0;
  padding: 3.236rem 0;
}

@media (min-width: 64em) {
  .stripe {
    padding: 87.372px 0;
    padding: 4.854rem 0;
  }
}

.no-mq .stripe {
  padding: 87.372px 0;
  padding: 4.854rem 0;
}

.stripe--pink {
  background-color: #cb1f41;
}

.stripe--blue {
  background-color: #1da4b9;
}

.stripe--patterned {
  color: #fff !important;
}

.stripe--patterned h1,
.stripe--patterned h2,
.stripe--patterned h3,
.stripe--patterned h4,
.stripe--patterned h5,
.stripe--patterned h6,
.stripe--patterned small {
  color: #fff;
}

.stripe--patterned a,
.stripe--patterned a:visited,
.stripe--patterned a:hover,
.stripe--patterned a:focus,
.stripe--patterned a:active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.site-name {
  float: left;
  font-family: "FS Pimlico Web Bold", 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #cb1f41;
  font-size: 29.124px;
  font-size: 1.618rem;
  margin-top: 21.843px;
  margin-top: 1.2135rem;
  margin-bottom: 21.843px;
  margin-bottom: 1.2135rem;
}

@media (max-width: 24em) {
  .site-name {
    margin-top: 14.562px;
    margin-top: 0.809rem;
    margin-bottom: 14.562px;
    margin-bottom: 0.809rem;
  }
}

.nav--main {
  float: right;
  display: none;
  margin: 29.124px 0;
  margin: 1.618rem 0;
}

@media (min-width: 35.5em) {
  .nav--main {
    display: block;
  }
}

.no-mq .nav--main {
  display: block;
}

.nav--main .nav__item {
  margin-left: 14.562px;
  margin-left: 0.809rem;
}

.nav--main .nav__link {
  font-size: 17.11515px;
  font-size: 0.95084rem;
  padding: 0 7.281px;
  padding: 0 0.4045rem;
}

.intro {
  text-align: center;
}

@media (min-width: 64em) {
  .intro {
    text-align: left;
    margin-top: 109.215px;
    margin-top: 6.0675rem;
  }
}

.no-mq .intro {
  text-align: left;
  margin-top: 109.215px;
  margin-top: 6.0675rem;
}

.intro__heading {
  font-family: "FS Pimlico Web Regular", 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 58.248px;
  font-size: 3.236rem;
  line-height: 1.1326;
  margin-bottom: 29.124px;
  margin-bottom: 1.618rem;
}

@media (min-width: 64em) {
  .intro__heading {
    margin-bottom: 43.686px;
    margin-bottom: 2.427rem;
  }
}

.no-mq .intro__heading {
  margin-bottom: 43.686px;
  margin-bottom: 2.427rem;
}

.intro__btn {
  margin: 14.562px 7.281px 0 0;
  margin: 0.809rem 0.4045rem 0 0;
  *padding-top: 0;
  *padding-bottom: 0;
  *line-height: 2.427;
}

@media (max-width: 24em) {
  .intro__btn {
    display: block;
    text-align: center;
    margin-bottom: 14.562px;
    margin-bottom: 0.809rem;
    margin-right: 0;
  }
}

.ctatext {
  *line-height: 2.427;
}

.main-illustration {
  margin-bottom: 43.686px;
  margin-bottom: 2.427rem;
}

@media (min-width: 64em) {
  .main-illustration {
    margin-bottom: 0;
    margin-top: 58.248px;
    margin-top: 3.236rem;
  }
}

.no-mq .main-illustration {
  margin-bottom: 0;
  margin-top: 58.248px;
  margin-top: 3.236rem;
}

.projects__intro {
  margin-bottom: 29.124px;
  margin-bottom: 1.618rem;
}

.nav--projects {
  clear: both;
}

.project {
  margin-bottom: 29.124px;
  margin-bottom: 1.618rem;
}

.project__link {
  display: block;
  border: 1px solid transparent;
  margin: -7.281px;
  margin: -0.4045rem;
  padding: 7.281px;
  padding: 0.4045rem;
  border-radius: 4.854px;
  border-radius: 0.26967rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.project__link:hover {
  background-color: rgba(239,238,228,0.4);
  border-color: #ddd;
  border-color: #eee;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 24em) {
  .project__link {
    text-align: center;
  }
}

.project__link--is-selected {
  background-color: rgba(239,238,228,0.4);
  border-color: #ddd;
  border-color: #eee;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.project__title {
  text-align: left;
  font-family: "FS Pimlico Web Regular", 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 7.281px 0 0 7.281px;
  margin: 0.4045rem 0 0 0.4045rem;
}

.project__tagline {
  text-align: left;
  color: #bbb;
  font-family: "PT Sans Regular", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size-adjust: 0.5;
  font-weight: normal;
  font-style: normal;
  font-size: 17.11515px;
  font-size: 0.95084rem;
  margin-bottom: 7.281px;
  margin-bottom: 0.4045rem;
  margin-left: 7.281px;
  margin-left: 0.4045rem;
}

.case-study {
  background-color: #f5f5f5;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 0;
  padding: 87.372px 0;
  padding: 4.854rem 0;
}

.case-study__screenshot {
  float: left;
  clear: both;
  -webkit-box-shadow: 0 1px 12px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 12px 0 rgba(0,0,0,0.2);
}

.case-study__title {
  margin-bottom: 0;
  margin-bottom: 0;
}

.case-study__url {
  display: block;
  margin-bottom: 29.124px;
  margin-bottom: 1.618rem;
  font-size: 18px;
  font-size: 1rem;
}

.case-study__divider {
  width: 87.372px;
  width: 4.854rem;
  background-color: #ddd;
  height: 2px;
  margin: 0 auto 29.124px auto;
  margin: 0 auto 1.618rem auto;
  border: 0;
}

.case-study__description {
  margin-bottom: 43.686px;
  margin-bottom: 2.427rem;
  *float: left;
  *clear: both;
}

.case-study__prev,
.case-study__next {
  position: absolute;
  height: 44px;
  line-height: 44px;
  margin-top: 14.562px;
  margin-top: 0.809rem;
  border-radius: 0;
  *display: none;
}

.case-study__prev {
  left: 0;
  padding: 0 29.124px 0 21.843px;
  padding: 0 1.618rem 0 1.2135rem;
}

.case-study__prev:before {
  left: 0;
  border-color: #f5f5f5;
  border-right: 1px solid #1da4b9;
}

.case-study__prev:after {
  right: 0;
  border-color: #1da4b9;
  border-right: 1px solid #f5f5f5;
}

.case-study__prev:before,
.case-study__prev:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 11px 22px 0;
  -webkit-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
}

.case-study__prev:hover:before {
  border-right: 1px solid #cb1f41;
}

.case-study__prev:hover:after {
  border-color: #cb1f41;
  border-right: 1px solid #f5f5f5;
}

.case-study__prev:hover:before,
.case-study__prev:hover:after {
  border-width: 22px 11px 22px 0;
  -webkit-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
}

.case-study__next {
  right: 0;
  padding: 0 21.843px 0 29.124px;
  padding: 0 1.2135rem 0 1.618rem;
}

.case-study__next:before {
  right: 0;
  border-color: #f5f5f5;
  border-left: 1px solid #1da4b9;
}

.case-study__next:after {
  left: 0;
  border-color: #1da4b9;
  border-left: 1px solid #f5f5f5;
}

.case-study__next:before,
.case-study__next:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 0 22px 11px;
  -webkit-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
}

.case-study__next:hover:before {
  border-left: 1px solid #cb1f41;
}

.case-study__next:hover:after {
  border-color: #cb1f41;
  border-left: 1px solid #f5f5f5;
}

.case-study__next:hover:before,
.case-study__next:hover:after {
  border-width: 22px 0 22px 11px;
  -webkit-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
}

.chevron-left {
  float: left;
  position: relative;
  height: 20px;
  width: 7px;
  margin: 12px 21.843px 0 0;
  margin: 0.66667rem 1.2135rem 0 0;
  *display: none;
  display: none\9;
}

.chevron-left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 51%;
  width: 100%;
  background: white;
  -webkit-transform: skew(-30deg, 0deg);
  -ms-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}

.chevron-left:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: white;
  -webkit-transform: skew(30deg, 0deg);
  -ms-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
}

.chevron-right {
  float: right;
  position: relative;
  height: 20px;
  width: 7px;
  margin: 12px 0 0 21.843px;
  margin: 0.66667rem 0 0 1.2135rem;
  *display: none;
  display: none\9;
}

.chevron-right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 51%;
  width: 100%;
  background: white;
  -webkit-transform: skew(30deg, 0deg);
  -ms-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
}

.chevron-right:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: white;
  -webkit-transform: skew(-30deg, 0deg);
  -ms-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}

.person {
  margin-top: 14.562px;
  margin-top: 0.809rem;
}

@media (max-width: 24em) {
  .person {
    margin-top: 29.124px;
    margin-top: 1.618rem;
  }

  .person:last-child {
    margin-top: 58.248px;
    margin-top: 3.236rem;
  }
}

.person__img {
  margin: 0 43.686px;
  margin: 0 2.427rem;
}

@media (min-width: 64em) {
  .person__img {
    margin: 0 87.372px;
    margin: 0 4.854rem;
  }
}

.no-mq .person__img {
  margin: 0 87.372px;
  margin: 0 4.854rem;
}

.person__img img {
  border-radius: 50%;
}

.person__name {
  font-family: "FS Pimlico Web Regular", 'Trebuchet MS', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 29.124px;
  margin-top: 1.618rem;
}

@media (max-width: 24em) {
  .person__name {
    margin-top: 21.843px;
    margin-top: 1.2135rem;
  }
}

.and {
  position: absolute;
  display: block;
  left: 50%;
  width: 4em;
  margin-left: -2em;
  text-align: center;
  font-size: 126px;
  font-size: 7rem;
  margin-top: 29.124px;
  margin-top: 1.618rem;
  font-family: "FS Pimlico Web Bold", 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: rgba(255,255,255,0.25);
  color: #4eb5c5 \9;
  *display: none;
}

@media (max-width: 24em) {
  .and {
    display: none;
  }
}

@media (min-width: 64em) {
  .and {
    font-size: 180px;
    font-size: 10rem;
    margin-top: 0;
  }
}

.no-mq .and {
  font-size: 180px;
  font-size: 10rem;
  margin-top: 0;
}

.footer {
  padding-bottom: 29.124px;
  padding-bottom: 1.618rem;
}

.disclaimer {
  line-height: 1.2135;
  margin-top: 87.372px;
  margin-top: 4.854rem;
}