// =============================================================================
//  Layout
// =============================================================================

//  Set up the various templates and layout options the project needs

//  General layout rules
// -----------------------------------------------------------------------------

    .wrapper {
        clear: both;
        position: relative;
        @include rem(margin, 0, $mid-space);
        @include rem(max-width, 1250px);
        @extend %cf;

        @include breakpoint($small) {
            @include rem(margin, 0, $base-space);
        }

        @include breakpoint($medium) {
            @include rem(margin, 0, $double-space);
        }

        @include breakpoint($large) {
            // @include rem(margin, 0, $super-space);
            *margin: 0 7.5%;
            *width: 85%;
        }

        @include breakpoint($larger) {
            margin: 0 10.5537%;
        }

        @include breakpoint($xl) {
            margin: 0 17.0763%;
        }
    }

    .stripe__content {
        // @include gs-span(c, all);
        float: left;
        width: 100%;

        @include breakpoint($large) {
            // @include gs-span(c, 2, 4);
            width: gs-width(c, 2, 4, false, true);
            margin-left: gs-marginleft(c, 2, false, true);
        }
    }


//  Intro
// -----------------------------------------------------------------------------

    .main-illustration {
        @include gs-span(c, all);
        clear: none;

        @include breakpoint($large) {
            @include gs-span(c, 4, 5);
        }
    }

    .intro {
        clear: left;
        @include gs-span(c, all);

        @include breakpoint($large) {
            @include gs-span(c, 1, 2);
            clear: none;
        }
    }


//  Work
// -----------------------------------------------------------------------------

    .case-study__screenshot {
        width: 100%;
    }

    .case-study__description {

    }

    .nav--projects {
    }

        .project {
            float: left;
            width: gs-width(c, 1, 2, false, true);

            @include breakpoint($large) {
                width: gs-width(cb, 1, 1, false, true);
            }
        }

        .project-1 {
            // @include gs-span(c, 1, 2);
            margin-left: gs-marginleft(c, 1, false, true);

            @include breakpoint($large) {
                // @include gs-span(cb, 1);
                margin-left: gs-marginleft(cb, 1, false, true);
            }
        }

        .project-2 {
            // @include gs-span(c, 4, 5);
            margin-left: gs-width(c, 3, 3, false, true);

            @include breakpoint($large) {
                // @include gs-span(cb, 3);
                margin-left: gs-width(cb, 2, 2, false, true);
            }
        }

        .project-3 {
            // @include gs-span(c, 1, 2);
            margin-left: gs-marginleft(c, 1, false, true);
            clear: left;

            @include breakpoint($large) {
                margin-left: gs-width(cb, 2, 2, false, true);
                clear: none;
                // @include gs-span(cb, 5);
            }
        }

        .project-4 {
            // @include gs-span(c, 4, 5);
            margin-left: gs-width(c, 3, 3, false, true);

            @include breakpoint($large) {
                // @include gs-span(cb, 1);
                margin-left: gs-marginleft(cb, 1, false, true);
                clear: left;
            }
        }

        .project-5 {
            // @include gs-span(c, 1, 2);
            margin-left: gs-marginleft(c, 1, false, true);
            clear: left;

            @include breakpoint($large) {
                clear: none;
                margin-left: gs-width(cb, 2, 2, false, true);
                // @include gs-span(cb, 3);
            }
        }

        .project-6 {
            // @include gs-span(c, 4, 5);
            margin-left: gs-width(c, 3, 3, false, true);

            @include breakpoint($large) {
                // @include gs-span(cb, 5);
                margin-left: gs-width(cb, 2, 2, false, true);
            }
        }

        .project-1,
        .project-2,
        .project-3,
        .project-4,
        .project-5,
        .project-6 {
            @include breakpoint($small) {
                @include gs-span(c, all);
            }
        }


//  About
// -----------------------------------------------------------------------------

    .person--sam {
        @include gs-span(c, 1, 2);
    }

    .person--james {
        @include gs-span(c, 4, 5);
    }

    .person--james,
    .person--sam {
        @include breakpoint($small) {
            @include gs-span(c, all);
        }
    }